<!DOCTYPE html>
<html>
    <head>
        <title>Upload</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
        </script>
        
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
        
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        
        
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
    <style>
        .container{
            width:70%;
            margin:0 auto;
            padding:2px 16px;
        }
        .card{
            width:500px;
            height:70%;
            margin-top:20%;
            margin-left:20%;
            padding:2%;
        }
    </style>
    <script>
        $(document).ready(function(){
            M.AutoInit();
            
        });
    </script>
        <div class="container">
            <div class="card center-align">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="myfile">
                    <br>
                    <br>
                    <br>
                    <button class="btn btn-primary" type="submit">Upload</button>
                    <br>
                    {% if alert != 'None'%}
                        {{alert}}
                    {% endif %}
                </form>
            </div>
        </div>
    </body>
</html>